# Stock Closing Price Forecasting

## Import Libraries

In [1]:
# Common Python Libraries
import numpy as np
import pandas as pd
import os
import joblib
from tqdm import tqdm

# Data
import yfinance as yf

# Project Path
project_path = "../"

## Pull Data

In [2]:
snp_500 = yf.Ticker("^GSPC")

In [3]:
data = snp_500.history(interval="1d", start="2010-11-30", end="2025-11-30")

In [4]:
data_path = os.path.join(project_path, "data/raw_data.csv")
data.to_csv(data_path)

## EDA

In [5]:
data.head(10)

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2010-11-30 00:00:00-05:00,1182.959961,1187.400024,1174.140015,1180.550049,4284700000,0.0,0.0
2010-12-01 00:00:00-05:00,1186.599976,1207.609985,1186.599976,1206.069946,4548110000,0.0,0.0
2010-12-02 00:00:00-05:00,1206.810059,1221.890015,1206.810059,1221.530029,4970800000,0.0,0.0
2010-12-03 00:00:00-05:00,1219.930054,1225.569946,1216.819946,1224.709961,3735780000,0.0,0.0
2010-12-06 00:00:00-05:00,1223.869995,1225.800049,1220.670044,1223.119995,3527370000,0.0,0.0
2010-12-07 00:00:00-05:00,1227.250000,1235.050049,1223.250000,1223.750000,6970630000,0.0,0.0
2010-12-08 00:00:00-05:00,1225.020020,1228.930054,1219.500000,1228.280029,4607590000,0.0,0.0
2010-12-09 00:00:00-05:00,1230.140015,1234.709961,1226.849976,1233.000000,4522510000,0.0,0.0
2010-12-10 00:00:00-05:00,1233.849976,1240.400024,1232.579956,1240.400024,4547310000,0.0,0.0
2010-12-13 00:00:00-05:00,1242.520020,1246.729980,1240.339966,1240.459961,4361240000,0.0,0.0

In [6]:
data.describe()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
count,3773.000000,3773.000000,3773.000000,3773.000000,3.773000e+03,3773.0,3773.0
mean,3031.759584,3047.870432,3014.476312,3032.383259,3.970195e+09,0.0,0.0
std,1440.123569,1447.491538,1432.036910,1440.273188,9.716280e+08,0.0,0.0
min,1097.420044,1125.119995,1074.770020,1099.229980,0.000000e+00,0.0,0.0
25%,1935.930054,1948.910034,1925.250000,1938.680054,3.377390e+09,0.0,0.0
50%,2690.949951,2708.540039,2676.810059,2691.250000,3.796210e+09,0.0,0.0
75%,4127.950195,4148.569824,4099.399902,4128.729980,4.373710e+09,0.0,0.0
max,6910.950195,6920.339844,6870.729980,6890.890137,9.976520e+09,0.0,0.0

In [7]:
is_na = pd.DataFrame(data.isna().sum())
is_na.columns = ["Number_Missing"]
is_na["Missing_Percentage"] = (is_na["Number_Missing"] / len(data) * 100)
print(is_na)

              Number_Missing  Missing_Percentage
Open                       0                 0.0
High                       0                 0.0
Low                        0                 0.0
Close                      0                 0.0
Volume                     0                 0.0
Dividends                  0                 0.0
Stock Splits               0                 0.0

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 3773 entries, 2010-11-30 00:00:00-05:00 to 2025-11-28 00:00:00-05:00
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Open          3773 non-null   float64
 1   High          3773 non-null   float64
 2   Low           3773 non-null   float64
 3   Close         3773 non-null   float64
 4   Volume        3773 non-null   int64
 5   Dividends     3773 non-null   float64
 6   Stock Splits  3773 non-null   float64
dtypes: float64(6), int64(1)
memory usage: 235.8 KB