# Stock Closing Price Forecasting

## Import Libraries

In [20]:
# Common Python Libraries
import numpy as np
import pandas as pd
import os
import joblib
from tqdm import tqdm

# Data
import yfinance as yf

# Project Path
project_path = "../"

## Pull Data

In [16]:
snp_500 = yf.Ticker("^GSPC")

In [ ]:
data = snp_500.history(interval="1d", start="2024-11-30", end="2025-11-30")

In [22]:
data_path = os.path.join(project_path, "data/raw_data.csv")
data.to_csv(data_path)

## EDA

In [23]:
data.head(10)

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2024-12-02 00:00:00-05:00,6040.109863,6053.580078,6035.330078,6047.149902,4412470000,0.0,0.0
2024-12-03 00:00:00-05:00,6042.970215,6052.069824,6033.390137,6049.879883,4095000000,0.0,0.0
2024-12-04 00:00:00-05:00,6069.390137,6089.839844,6061.060059,6086.490234,4003390000,0.0,0.0
2024-12-05 00:00:00-05:00,6089.029785,6094.549805,6072.899902,6075.109863,4212020000,0.0,0.0
2024-12-06 00:00:00-05:00,6081.379883,6099.970215,6079.979980,6090.270020,3924830000,0.0,0.0
2024-12-09 00:00:00-05:00,6083.009766,6088.509766,6048.629883,6052.850098,4556460000,0.0,0.0
2024-12-10 00:00:00-05:00,6057.589844,6065.399902,6029.890137,6034.910156,4048410000,0.0,0.0
2024-12-11 00:00:00-05:00,6060.149902,6092.589844,6060.149902,6084.189941,4269950000,0.0,0.0
2024-12-12 00:00:00-05:00,6074.290039,6079.680176,6051.250000,6051.250000,3678010000,0.0,0.0
2024-12-13 00:00:00-05:00,6068.169922,6078.580078,6035.770020,6051.089844,3584960000,0.0,0.0

In [25]:
data.describe()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
count,249.000000,249.000000,249.000000,249.000000,2.490000e+02,249.0,249.0
mean,6142.222323,6175.529185,6105.084771,6143.288825,5.088839e+09,0.0,0.0
std,423.359368,410.822768,433.368136,420.919207,9.824125e+08,0.0,0.0
min,4953.790039,5232.939941,4835.040039,4982.770020,1.757720e+09,0.0,0.0
25%,5902.879883,5935.520020,5858.779785,5888.549805,4.544500e+09,0.0,0.0
50%,6072.220215,6092.589844,6050.950195,6074.080078,5.018980e+09,0.0,0.0
75%,6477.379883,6491.759766,6445.020020,6481.399902,5.449490e+09,0.0,0.0
max,6910.950195,6920.339844,6870.729980,6890.890137,9.489600e+09,0.0,0.0

In [24]:
is_na = pd.DataFrame(data.isna().sum())
is_na.columns = ["Number_Missing"]
is_na["Missing_Percentage"] = (is_na["Number_Missing"] / len(data) * 100)
print(is_na)

              Number_Missing  Missing_Percentage
Open                       0                 0.0
High                       0                 0.0
Low                        0                 0.0
Close                      0                 0.0
Volume                     0                 0.0
Dividends                  0                 0.0
Stock Splits               0                 0.0

In [27]:
data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 249 entries, 2024-12-02 00:00:00-05:00 to 2025-11-28 00:00:00-05:00
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Open          249 non-null    float64
 1   High          249 non-null    float64
 2   Low           249 non-null    float64
 3   Close         249 non-null    float64
 4   Volume        249 non-null    int64
 5   Dividends     249 non-null    float64
 6   Stock Splits  249 non-null    float64
dtypes: float64(6), int64(1)
memory usage: 15.6 KB